/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(110vh)
  }
}

@keyframes snowflakes-shake {

  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out
}

.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.discordapp.com/attachments/1035521179009691670/1217800023203512410/XTZZZ_1.png?ex=660557a7&is=65f2e2a7&hm=db47bc446e489f0b14945a3848bea8f6252e0102168b22a22d9edb78ad5fa321&');
  /* Replace with your blurred background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  /* Adjust the alpha value for opacity */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

header {
  position: relative;
  /* Added */
  padding-right: 70px;
  /* Adjusted */
}

.profile-picture {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  color: #333;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 30px;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffffff;
}

footer {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

.discord,
.instagram,
.github,
.youtube {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 50px; /* Adjust width and height as needed */
  height: 50px; /* Adjust width and height as needed */
  border-radius: 50%; /* Make the button circular */
}

.instagram {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/600px-Instagram_logo_2022.svg.png');
}

.github {
  background-image: url('https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_960_720.png');
}

.youtube {
  background-image: url('https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-youtube-social-media-round-icon-png-image_6315993.png');
}

.discord {
  background-image: url('https://static.vecteezy.com/system/resources/previews/006/892/625/non_2x/discord-logo-icon-editorial-free-vector.jpg');
}